* {
  margin: 0;
  padding: 0;
  font-family: "Gugi", sans-serif;
}

body {
  display: block;
  padding: 1em;
  max-width: 50rem;
  margin: auto;
  background-color: #020617;
  color: #94a3b8;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
a {
  color: #0369a1;
}

.profile,.intro,.work,.contact {
  width: 100%;
  margin: auto;
  padding: 0.85em 0;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .profile_pic {
    width: 25%;
    height: 25%;
    border-radius: 100%;
  }

  .profile_pic img {
    width: 100%;
    height: auto;
    border-radius: 100%;
  }

  .name {
    width: 100%;
    text-align: center;
  }
}

.intro p {
  text-align: center;
  font-size: 1rem;
}

.work {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .work_title {
    
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1em;
}